p{

font-size: large;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 60px;
margin-left: 60px;
}

body{
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}
h2{
color: rgb(117, 9, 167);
}

#heading{
color: rgb(117, 9, 167);
}

body{
    background-color: lavender;
   
}
.image-container{
    width: 250px;

}
img {
   width: 100%;
   height: auto; 
}

.purple-paragraphs{
    color: rebeccapurple;
}