p{

font-size: large;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 60px;
margin-left: 60px;
}

h2{
    color: rgb(117, 9, 167);
}

#heading{
color: rgb(117, 9, 167);
}

body{
    background-color: lavender;
   
}